body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    font-family: 'Open Sans', sans-serif;
    color: #1e1e1e;
    font-size: 16px;
    font-style: normal;

    background-color: #ffffff;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 32px !important;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
  }
  
img {
    max-width: 100%;
    height: auto;
}

.overlay {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
.overlay::before {
    content: '';
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
  }
  .container {
    width: 940px;
    margin: 0 auto;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 68px;
    display: flex;
    align-items: center;
    background-color:#ffffff;
    -webkit-box-shadow: 0px 11px 11px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 11px 11px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 11px 11px 0px rgba(34, 60, 80, 0.2);
    z-index: 9999;
}
.header__extra-wrapper {
    width: 100%;
    margin: 0 auto;
}
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-banner {
    margin-top: 68px;
    width: 100%;
    height: 700px;
    background-color: #070105;
    background-image: url('./img/Layer564.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-banner__product-text {
    font-size: 34px;
    margin-bottom: 10px;
    font-weight: 300;
    color: #ffffff;
}
.main-banner__product-text {
    font-size: 34px;
    margin-bottom: 10px;
    font-weight: 300;
    color: #ffffff;
}
.main-banner__brand {
    margin-bottom: 40px;
    display: block;
    position: relative;
    padding-bottom: 32px;
    font-size: 82px;
    line-height: 70px;
    font-weight: bold;
    color: #ffffff;
}
.main-banner__brand::after {
    content: '';
    position: absolute;
    bottom: 3px;
    left: 8px;
    width: 442px;
    height: 3px;
    background-color: #ffffff;
    z-index: 10;
}
.main-banner__sale-text {
    font-size: 24px;
    font-weight: 400;
    line-height: 48px;
    color: #ffffff;
    text-transform: uppercase;
}
.main-banner__price-text {
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
}
.main-banner__price-text--big {
    font-size: 48px;
}
.main-banner__wrapper {
    display: flex;
}
.main-banner__btn {
    cursor: pointer;
    width: 260px;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    text-transform: uppercase;
}

.main-banner__btn:hover {
    opacity: 0.7;
}
.main-banner__btn:focus,
.main-banner__btn:active {
    outline: none;
    box-shadow: none;
}
.main-banner__btn:focus {
    opacity: 0.5;
}
.main-banner__btn--left {
    margin-right: 20px;
}
.section-title {
    margin: 0;
    margin-bottom: 30px;
    position: relative;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 29px;
}
.section-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: calc(50% - 90px/2);
    width: 90px;
    height: 3px;
    background-color: #000000;
}
.info {
    padding-top: 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info__text {
    margin: 0;
    text-align: center;
    line-height: 30px;
}
.info__text--first {
    margin-bottom: 18px;
}
.info__text--second {
    margin-bottom: 20px;
}
.slider {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}
.owl-stage {
    margin: 0 auto;
  }

.size-section {
    padding-top: 37px;
    padding-bottom: 50px;
    width: 100%;
    background: url('./img/Rectangle\ 557.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;
}
.size-section__border {
    background-color: #ffffff;
    padding: 30px;
}
.size-table {
    width: 100%;
    border-collapse: collapse;
    box-sizing: border-box;
    background-color: #ffffff;
    font-size: 14px;
}
.size-table__row:nth-child(odd) {
    background-color: #f3f3f3;
}
.size-table__row-title {
    padding: 15px 30px;
    text-align: left;
    font-weight: 700;
}
.size-table__cell {
    padding: 15px 30px;
    text-align: center;
}
.size-table__cell--bold {
    font-weight: 700;
}
.catalog {
    padding-top: 45px;
    padding-bottom: 90px;
}
.catalog__btns-wrapper {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.catalog__filter-btn {
    padding: 25px 35px;
    background-color: #f3f3f3;
    border: none;
    font-size: 18px;
    color: #1e1e1e;
    text-transform: uppercase;
}
.catalog__filter-btn:hover {
    background-color: #b4014e;
    color: #ffffff;
}
.active-filter-btn {
    background-color: #b4014e;
    color: #ffffff;
}
.catalog__filter-btn--daily {
    border-right: 2px solid #ceced3;
}
.catalog__list {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-column-gap: 20px;
    grid-template-rows: auto;
    grid-row-gap: 20px;
 }
.catalog__item {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #dbdbdf;
}
.catalog__item-name {
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
}
.catalog__size-list {
    margin-bottom: 10px;
}
.catalog__size-item {
    box-sizing: border-box;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid transparent;
}
.catalog__size-item:hover {
    border: 1px solid #b4014e;
}
.catalog__size-item[disabled='disabled'] {
    pointer-events: none;
    color: #ceced3;
}
.active-size {
    border: 1px solid #b4014e;
}
.colors-list {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.colors-list__radio {
    display: none;
}
label .colors-list__radio + .radio-indicator {
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border: 2px solid #dbdbdf;
    border-radius: 50%;
}
label:not(:last-of-type) .colors-list__radio + .radio-indicator {
    margin-right: 8px;
}
label .colors-list__radio + .radio-indicator.colors__list--black {
    background-color: #000000;
}
label .colors-list__radio + .radio-indicator.colors__list--red {
    background-color: #ff0000;
}
label .colors-list__radio + .radio-indicator:hover {
    border: 2px solid #b4014e;
}
label .colors-list__radio:checked + .radio-indicator {
    border: 2px solid #b4014e;
}
label .colors-list__radio:disabled + .radio-indicator {
    pointer-events: none;
    opacity: 0.5;
}
.catalog__price {
    margin-bottom: 13px;
    display: flex;
    align-items: center;
}
.catalog__actual-price {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: #b4014e;
}
.catalog__old-price {
    margin-right: 20px;
    font-size: 30px;
    line-height: 36px;
    color: #8c8c8c;
    text-decoration: line-through;
}
.catalog__buy-btn {
    cursor: pointer;
    width: 260px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(#8e54e9, #4776e6);
    border-radius: 4px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0px -4px 0px 0px #375cb2 inset;
}
.catalog__buy-btn:hover {
    opacity: 0.5;
    transition: opacity 1s;
}
.catalog__buy-btn:focus {
    outline: none;
    transition: opacity 1s;
}
.catalog__buy-btn:active {
    outline: none;
}
.how-to-order {
    background-color: #f7f2f4;
    padding-top: 70px;
    padding-bottom: 100px;
}
.how-to-order__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.how-to-order__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.how-to-order__icon-elem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    box-sizing: border-box;
    background-color: #b4014e;
    border: 6px solid #d579a1;
    border-radius: 50%;
}
.how-to-order__point {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    background-color: #ceced3;
    border: 3px solid #ebe7ea;
    border-radius: 50%;
}
.how-to-order__point--first-point::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 11px;
    width: 720px;
    height: 1px;
    border-top: 2px dotted #d5d4d8;
}
.how-to-order__text {
    margin: 0;
    text-align: center;
}


/* Pop-up */
.order-pop-up {
    position: fixed;
    width: 640px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: #ffffff;
    z-index: 1000;
}
.order-pop-up__photo-wrapper {
    width: 50%;
}
.order-pop-up__photo {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.order-pop-up__info-wrapper {
    position: relative;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.order-pop-up__close-btn {
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    font-size: 24px;
    line-height: 24px;
    color: #8c8c8c;
}
.order-pop-up__close-btn:hover {
    opacity: 0.7;
}
.order-pop-up__close-btn:focus {
    outline: none;
    opacity: 0.7;
}
.order-pop-up__close-btn:active {
    outline: none;
}
.order-pop-up__product-title {
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
}
.order-pop-up__form {
    margin: 0;
    padding: 0;
    border: none;
}
.size-list {
    margin-bottom: 10px;
    width: 100%;
    padding: 13px;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid #ceced3;
    text-align: center;
}
.size-list:hover {
    border-color: #b4014e;
}
.size-list:focus,
.size-list:active {
    outline: none;
    border-color: #b4014e;
}
.order-pop-up__user-name {
    margin-bottom: 10px;
    width: 100%;
    padding: 13px;
    box-sizing: border-box;
    border: 1px solid #ceced3;
}
.order-pop-up__user-name:hover {
    border-color: #b4014e;
}
.order-pop-up__user-name:focus,
.order-pop-up__user-name:active {
    outline: none;
    border-color: #b4014e;
}
.order-pop-up__user-phone {
    margin-bottom: 10px;
    width: 100%;
    padding: 13px;
    box-sizing: border-box;
    border: 1px solid #ceced3;
}
.order-pop-up__user-phone:hover {
    border-color: #b4014e;
}
.order-pop-up__user-phone:focus,
.order-pop-up__user-phone:active {
    outline: none;
    border-color: #b4014e;
}
.order-pop-up__submit-btn {
    cursor: pointer;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    background: linear-gradient(#8e54e9, #4776e6);
    border: 1px solid transparent;
    border-radius: 4px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0px -4px 0px 0px #375cb2 inset;
}
.order-pop-up__submit-btn:hover {
    opacity: 0.5;
    transition: opacity 1s;
}
.order-pop-up__submit-btn:focus {
    outline: none;
    transition: opacity 1s;
}
.order-pop-up__submit-btn:active {
    outline: none;
}
@media (min-width: 960px) {
    .header__menu-btn {
        display: none;
    }
    .menu__list {
        margin: 0;
        display: flex;
        list-style-type: none;
    }
    .menu__item:not(:last-of-type) {
        margin-right: 30px;
    }
    .menu__link {
        color: #1e1e1e;
        text-decoration: none;
        text-transform: uppercase;
    }
    .menu__link:hover {
        border-bottom: 3px solid #b4014e;
    }
    .menu__link:focus,
    .menu__link:active {
        outline: none;
        box-shadow: none;
        border-bottom: 3px solid #b4014e;
    }
}

@media screen and (min-width: 640px) and (max-width: 960px) {
.container {
    width: 620px;
    margin: 0 auto;
}
.header__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__extra-wrapper {
    position: relative;
}
.header__menu-btn {
    position: absolute;
    top: 13px;
    right: 20px;
    background-color: transparent;
    border: none;
}
.menu {
    position: absolute;
    bottom: -186px;
    display: block;
    width: 100%;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 11px 11px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 11px 11px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 11px 11px 0px rgba(34, 60, 80, 0.2);
    z-index: 100; 
}
.menu--closed {
    display: none;
}
.menu__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
    .menu__item {
    margin-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 3px solid transparent;
}
    .menu__list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        list-style-type: none;
    }
    .menu__item {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        border-bottom: 3px solid transparent;
    }
    .menu__item:active {
        border-bottom: 3px solid #b4014e;
    }
    .menu__link {
        color: #1e1e1e;
        text-decoration: none;
        text-transform: uppercase;
    }
    .main-banner {
        margin-top: 68px;
        width: 100%;
        height: 592px;
        background-color: #070105;
        background-image: url('./img/Layer564.jpg');
        background-repeat: no-repeat;
        background-position: center 0;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .main-banner__product-text {
        font-size: 34px;
        font-weight: 300;
        color: #ffffff;
    }
    .main-banner__brand {
        position: relative;
        padding-bottom: 35px;
        font-size: 82px;
        font-weight: bold;
        color: #ffffff;
    }
    .main-banner__sale-text {
        font-size: 24px;
        font-weight: 400;
        line-height: 26px;
        color: #ffffff;
        text-transform: uppercase;
    }
    .main-banner__price-text {
        font-size: 36px;
        font-weight: bold;
        color: #ffffff;
    }
    .main-banner__price-text--big {
        font-size: 48px;
    }
    .slider {
    position: relative;
    width: 640px;
    margin: 0 auto;
    overflow: hidden;
}

.owl-stage {
    margin: 0 auto;
  }

.owl-carousel .owl-nav button.owl-prev span {
    display: none;
}
.owl-carousel .owl-nav button.owl-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 20px;
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color:rgba(255, 255, 255, 0.5) !important;
    background-image: url('./img/chevron_left_black.svg') !important;
    background-repeat: no-repeat !important;
    background-size: 26px 26px !important;
    background-position: center !important;
    z-index: 999;
}
.owl-carousel .owl-nav button.owl-next span {
    display: none;
}
.owl-carousel .owl-nav button.owl-next {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 20px;
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color:rgba(255, 255, 255, 0.5) !important;
    background-image: url('./img/chevron_right_black.svg') !important;
    background-repeat: no-repeat !important;
    background-size: 26px 26px !important;
    background-position: center !important;
    z-index: 999;
}
    .size-section {
        height: 380px;
    }
    
    .size-section__border {
        padding: 20px;
    }
    .size-table {
        font-size: 12px;
    }
    .size-table__row-title {
        padding: 10px 12px;
    }
    .size-table__cell {
        padding: 10px 12px;
    }
    .catalog__list {
        grid-template-columns: repeat(2, 300px);
     }
     .how-to-order__list {
        flex-direction: column;
    }
    .how-to-order__item:not(:last-child) {
        position: relative;
        margin-bottom: 40px;
    }
    .how-to-order__item:not(:last-child)::after {
        content: '';
        position: absolute;
        bottom: -33px;
        left: 50%;
        width: 1px;
        height: 25px;
        border-left: 2px dotted #d5d4d8;
    }
    .how-to-order__icon-elem {
        margin-bottom: 12px;
    }
    .how-to-order__point-wrapper {
        display: none;
    }
    .order-pop-up {
        width: 620px;
    }
}
@media screen and (min-width: 320px) and (max-width: 640px) {
    .container {
        width: 300px;
        margin: 0 auto;
    }
    .header__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header__extra-wrapper {
        position: relative;
    }
    .header__menu-btn {
        position: absolute;
        top: 13px;
        right: 20px;
        background-color: transparent;
        border: none;
    }
    .menu {
        position: absolute;
        bottom: -186px;
        display: block;
        width: 100%;
        background-color: #ffffff;
        -webkit-box-shadow: 0px 11px 11px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0px 11px 11px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 0px 11px 11px 0px rgba(34, 60, 80, 0.2);
        z-index: 100; 
     }
     .menu--closed {
         display: none;
     }
    .menu__list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        list-style-type: none;
    }
    .menu__item {
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        border-bottom: 3px solid transparent;
    }
    .menu__item:active {
        border-bottom: 3px solid #b4014e;
    }
    .menu__link {
        color: #1e1e1e;
        text-decoration: none;
        text-transform: uppercase;
    }
    .main-banner {
        margin-top: 68px;
        width: 100%;
        max-height: 400px;
        background-color: #070105;
        background-image: url('./img/Layer564.jpg');
        background-repeat: no-repeat;
        background-position: center 0;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .main-banner__product-text {
        font-size: 24px;
        font-weight: 300;
        color: #ffffff;
    }
    .main-banner__brand {
        margin-bottom: 23px;
        font-size: 57px;
        line-height: 40px;
    }
    .main-banner__brand::after {
        width: 302px;
        height: 3px;
    }
    .main-banner__sale-text {
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        color: #ffffff;
        text-transform: uppercase;
    }
    .main-banner__price-text {
        margin-bottom: 22px;
        font-size: 32px;
        font-weight: bold;
        color: #ffffff;
    }
    .main-banner__price-text--big {
        font-size: 42px;
    }
    .main-banner__wrapper {
        display: flex;
        flex-direction: column;
    }
    .main-banner__btn {
        width: 240px;
    }
    .main-banner__btn--left {
        margin-bottom: 15px;
        margin-right: 0;
    }
    .section-title {
        font-size: 28px;
    }
    .info__text {
        font-size: 14px;
        line-height: 24px;
        hyphens:auto;
        text-align: left;
    }
    .slider {
        position: relative;
        width: 320px;
        margin: 0 auto;
        overflow: hidden;
    }

    .owl-stage {
        margin: 0 auto;
    }
    .owl-carousel .owl-nav button.owl-prev span {
        display: none;
    }
    .owl-carousel .owl-nav button.owl-prev {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 20px;
        width: 50px;
        height: 50px;
        border: 1px solid transparent;
        border-radius: 50%;
        background-color:rgba(255, 255, 255, 0.5) !important;
        background-image: url('./img/chevron_left_black.svg') !important;
        background-repeat: no-repeat !important;
        background-size: 26px 26px !important;
        background-position: center !important;
        z-index: 999;
    }
    .owl-carousel .owl-nav button.owl-next span {
        display: none;
    }
    .owl-carousel .owl-nav button.owl-next {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        right: 20px;
        width: 50px;
        height: 50px;
        border: 1px solid transparent;
        border-radius: 50%;
        background-color:rgba(255, 255, 255, 0.5) !important;
        background-image: url('./img/chevron_right_black.svg') !important;
        background-repeat: no-repeat !important;
        background-size: 26px 26px !important;
        background-position: center !important;
        z-index: 999;
    }
    .size-section {
        height: 380px;
    }
    
    .size-section__border {
        padding: 20px;
    }
    .size-section__extra-wrapper {
        overflow-x: auto;
    }
    .size-table {
        font-size: 12px;
        overflow-x: auto;
        overflow-y: auto;
    }
    .size-table__row-title {
        padding: 10px 12px;
    }
    .size-table__cell {
        padding: 10px 12px;
    }
    .catalog__btns-wrapper {
        display: flex;
        flex-direction: column;
    }
    .catalog__filter-btn--daily {
        border: none;
        border-bottom: 2px solid #ceced3;
    }
    .catalog__list {
        margin: 0 auto;
        grid-template-columns: 300px;
     }
     .how-to-order__list {
        flex-direction: column;
    }
    .how-to-order__item:not(:last-child) {
        position: relative;
        margin-bottom: 40px;
    }
    .how-to-order__item:not(:last-child)::after {
        content: '';
        position: absolute;
        bottom: -33px;
        left: 50%;
        width: 1px;
        height: 25px;
        border-left: 2px dotted #d5d4d8;
    }
    .how-to-order__icon-elem {
        margin-bottom: 12px;
    }
    .how-to-order__text {
        font-size: 14px;
    }
    .how-to-order__point-wrapper {
        display: none;
    }

    /* Pop-up */
    .order-pop-up {
        width: 300px;
        flex-direction: column;
        overflow-y: auto;
    }
    .order-pop-up__photo-wrapper {
        position: relative;
        width: 100%;
    }
    .order-pop-up__photo {
        display: none;
    }
    .order-pop-up__info-wrapper {
        position: static;
        width: 100%;
    }
}